

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- loaded static here -->
    {% load static %}


    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'MainApp/img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Swiggy Menu List</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Roboto:400,500" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="{% static 'MainApp/css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/availability-calendar.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'MainApp/css/main.css' %}">
</head>

<body>

<!--================ Menu Area =================-->
<section class="menu-area" id="menu_area">
    <div class="container">
        <div class="align-items-center justify-content-between">
            <div class="text-box text-center">
                <h2 class="mb-15">MENU</h2>
            </div>
            <div class="col-lg-12 col-md-5">
                <div class="menu-list">
                    <div class="single-menu">
                        <h3>Starter</h3>
                        <ul class="list">
                            <li>
                                <p class="menu-item">MAHI TIKKA (NON-VEG)  ...........<span>Rs. 525</span></p>
                                <p>Fillet of sea fish in a tandoori marinate of lemon and coriander</p>
                            </li>
                            <li>
                                <p class="menu-item">MURGH CHANDI TIKKA (NON-VEG)  ...........<span>Rs. 399</span></p>
                                <p>Tikka of chicken dipped in an aromatic royal cumin and marinated</p>
                            </li>
                            <li>
                                <p class="menu-item">PESHAWARI MURGH KEBAB (NON-VEG)  ...........<span>Rs. 699</span></p>
                                <p>Boneless chicken legs seasoned with chilli powder and royal cumin,<br> marinated in a mixture of yoghurt, ginger garlic paste and malt vinegar</p>
                            </li>
                            <li>
                                <p class="menu-item">SEEKH KEBAB IMTIAZI (NON-VEG)  ...........<span>Rs. 429</span></p>
                                <p>Skewered and wrapped with lamb mince mixed with cassia, <br> mace and kashipur chilli and charcoal grilled</p>
                            </li>
                            <li>
                                <p class="menu-item">MURGH GILAFEE (NON-VEG)  ...........<span>Rs. 399</span></p>
                                <p>Chicked seekh kebab roasted, wrapped in fresh herbs cooked in tandoor</p>
                            </li>
                            <li>
                                <p class="menu-item">KEBAB PLATTER (NON-VEG)  ...........<span>Rs. 649</span></p>
                                <p>Assorted platter of seekh kebab imtiazi, galawati kebab, <br> murgh peshwari tikka and murgh seekh</p>
                            </li>
                            <li>
                                <p class="menu-item">RAAN-E-KASTOORI (NON-VEG)  ...........<span>Rs. 999</span></p>
                                <p>Leg of baby lamb marinated overnight in malt vinegar and char grilled on slow fire</p>
                            </li>
                            <li>
                                <p class="menu-item">PANEER TIKKA (VEG)  ...........<span>Rs. 310</span></p>
                                <p>Creamy malai paneer marinated in yoghurt flavoured <br> with yellow chilli and cooked on char grill</p>
                            </li>
                            <li>
                                <p class="menu-item">DAHI KE KEBAB (VEG)  ...........<span>Rs. 299</span></p>
                                <p>Home made yoghurt hung in muslin, spices and <br>rolled in soft bread and deep fried</p>
                            </li>
                            <li>
                                <p class="menu-item">MUSHROOM KURKURE (VEG)  ...........<span>Rs. 419</span></p>
                                <p>Marinated button mushrooms in tandoori spices<br> filled with cheese and herbs and battered fried</p>
                            </li>
                            <li>
                                <p class="menu-item">TANDOORI PHOOL (VEG)  ...........<span>Rs. 325</span></p>
                                <p>Cauliflower seasoned with yellow chilli powder, kebab masala, <br> lemon juice and ginger garlic batter, fried, skewered and char grilled</p>
                            </li>
                            <li>
                                <p class="menu-item">BHUNNA ALOO (VEG)  ...........<span>Rs. 299</span></p>
                                <p>Tandoori masala spiced small potatoes roasted in tandoor</p>
                            </li>
                            <li>
                                <p class="menu-item">PANEER TIKKA (VEG)  ...........<span>Rs. 399</span></p>
                                <p>Crispy tandoor grilled paneer, seasoned with red chilli and cottage cheese <br>
                                    flavoured with sprinkling of fenugeek</p>
                            </li>
                        </ul>
                    </div>

                    <div class="single-menu">
                        <h3>Main Courses</h3>
                        <ul class="list">
                            <li>
                                <p class="menu-item">MURGH PUKHTAAN (NON-VEG) ........... <span>Rs. 439</span></p>
                                <p>(Chicken cooked with ginger, onions, coriander and fresh herbs)</p>
                            </li>
                            <li>
                                <p class="menu-item">MURGH HANDI QORMA (NON-VEG) ........... <span>Rs. 439</span></p>
                                <p>(Drumsticks of chicken simmered in onions, garlic and yoghurt)</p>
                            </li>
                            <li>
                                <p class="menu-item">GOSHT TIMATAR QALIYA (NON-VEG) ........... <span>Rs. 499</span></p>
                                <p>(Morsels of lamb braised on Dum with turmeric, tomatoes and spices)</p>
                            </li>
                            <li>
                                <p class="menu-item">MURGH MUMTAZ (NON-VEG) ........... <span>Rs. 519</span></p>
                                <p>(Chicken cooked n onion and chilly gravy, flavoured with fresh herbs)</p>
                            </li>
                            <li>
                                <p class="menu-item">ROGAN JOSH (NON-VEG) ........... <span>Rs. 499</span></p>
                                <p>(Lamb cooked in "classic roganjosh style")</p>
                            </li>
                            <li>
                                <p class="menu-item">LUCKNOWI NEHARI (NON-VEG) ........... <span>Rs. 439</span></p>
                                <p>(Chefs recipe for qorma of elegantly exposed lamb, Dum cooked in tinges)</p>
                            </li>
                            <li>
                                <p class="menu-item">DUM GOSHT BIRYANI (BIRYANI) ........... <span>Rs. 549</span></p>
                                <p>Basmati rice simmered with mutton in mace, ittar and kewra, <br>
                                    finished in a sealed handi, served with raita</p>
                            </li>
                            <li>
                                <p class="menu-item">ZHINGA DUM BIRYANI (BIRYANI) ........... <span>Rs. 999</span></p>
                                <p>Basmati rice dum cooked with frsh sea prawns with mint and ginger</p>
                            </li>
                            <li>
                                <p class="menu-item">ZEER-E-GOSHT (BIRYANI) ........... <span>Rs. 449</span></p>
                                <p>Saffron flavoured mutton and seasoned in yoghurt,dum cooked basmati rice</p>
                            </li>
                            <li>
                                <p class="menu-item">PALAK PANEER (VEG) ........... <span>Rs. 399</span></p>
                                <p>This all time classic dish needs no introduction</p>
                            </li>
                            <li>
                                <p class="menu-item">BUTTER PANEER MASALA (VEG) ........... <span>Rs. 399</span></p>
                                <p>Cottage cheese sauteed in tomato gravy, butter, chosen spices and fresh herbs</p>
                            </li>
                            <li>
                                <p class="menu-item">SHAHI DUM ALOO (VEG) ........... <span>Rs. 299</span></p>
                                <p>Stuffed potatoes in typical kashmiri gravy laced with garam masala</p>
                            </li>
                            <li>
                                <p class="menu-item">MUTTAR METHI MALAI (VEG) ........... <span>Rs. 299</span></p>
                                <p>Exotic combination of garden fresh peas and methi</p>
                            </li>
                            <li>
                                <p class="menu-item">KADAI PANEER (VEG) ........... <span>Rs. 279</span></p>
                                <p>Sauteed of onions, tomato gravy with rose water, coriander and fresh herbs</p>
                            </li>
                            <li>
                                <p class="menu-item">ROTI (VEG) ........... <span>Rs. 39</span></p>
                                <p>Plain roti, missi roti </p>
                            </li>
                            <li>
                                <p class="menu-item">BUTTER ROTI (VEG) ........... <span>Rs. 49</span></p>
                                <p>Butter roti, butter missi roti</p>
                            </li>
                            <li>
                                <p class="menu-item">NAAN SPECIAL (VEG) ........... <span>Rs. 59</span></p>
                                <p>Butter naan, garlic naan</p>
                            </li>
                            <li>
                                <p class="menu-item">KULCHA (VEG) ........... <span>Rs. 69</span></p>
                                <p>Plain kulcha, Aloo kulcha and masala kulcha</p>
                            </li>
                            <li>
                                <p class="menu-item">DAL TADKA (VEG) ........... <span>Rs. 269</span></p>
                                <p>Arhar lentil cooked with kashmiri chilli, yoghurt and garlic</p>
                            </li>
                            <li>
                                <p class="menu-item">RICE QURESHI (VEG) ........... <span>Rs. 299</span></p>
                                <p>Plain rice, pulao, fried rice</p>
                            </li>
                        </ul>
                    </div>

                    <div class="single-menu">
                        <h3>Desserts</h3>
                        <ul class="list">
                            <li>
                                <p class="menu-item">SHAHI TUKRA ........... <span>Rs. 219</span></p>
                                <p>(Exotic dessert of saffron rabri, spread on a slice of syrup)</p>
                            </li>
                            <li>
                                <p class="menu-item">KESARIA PHIRNI ........... <span>Rs. 219</span></p>
                                <p>(Rice, delicately cooked on low heat with milk and saffron)</p>
                            </li>
                            <li>
                                <p class="menu-item">MOONG DAL HALWA ........... <span>Rs. 219</span></p>
                                <p>(Tiny seasoned cottage moong dumplings in pitachio garnished halwa)</p>
                            </li>
                            <li>
                                <p class="menu-item">KULFI LAB-E-MASHOOQ ........... <span>Rs. 219</span></p>
                                <p>(Creamy saffron and pistachio kulfi served with starch)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Menu Area =================-->


</body>

</html>